@font-face{
    font-family: 'handlee';
    src: url(../../assets/fonts/Handlee/Handlee-Regular.ttf);
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'handlee';
}

.card{
    width: 25%;
    background-color: rgba(0, 0, 0,0.67);
    color: blanchedalmond;
    border: goldenrod solid 1px;
    /* margin-right: 5px; */
    margin-bottom: 10px;
}

a{
    color: blanchedalmond;
}

hr{
    background-color: goldenrod;
}