<div class="container-fluid">
 <div class="card " *ngFor="let repo of repos.items;let i=index">
     
     <div class="card-body">
         <a href="{{repo.html_url}}" target="_blank"><h4 class="card-title">{{repo.name}}</h4></a>
         <hr>
         <p class="card-text">Description : {{repo.description}}</p>
         <p class="card-text">Owner : {{repo.owner.login}}</p>
         <p class="card-text">Language : {{repo.language}}</p>
         <p class="card-text"> Number of stars : {{repo.stargazers_count}}</p>
     </div>
 </div>
 
    
</div>
