@font-face{
    font-family: 'p';
    src: url(../../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf);
}

.container-fluid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'p';
}

.card{
    width: 20%;
    background-color: rgba(0, 0, 0,0.67);
    color: blanchedalmond;
    border: goldenrod solid 1px;
    /* margin-right: 5px; */
    margin-bottom: 10px;
    align-items: center;
}

a{
    color: blanchedalmond;
}

hr{
    background-color: goldenrod;
}

img{
    width: 30%;
    border-radius: 50%;
}