<div class="container-fluid">

    <div class="side">
        <div class="name">
            <h5 class="text-center">{{ruth.name}}</h5>
            <img src="{{ruth.avatar_url}}" alt="">    
            
        </div>
    </div>

    <div class="repos">

        <h1 class="text text-center">My Repositories</h1>

        <div class="repositories">
            <div class="card  text-white" *ngFor="let repo of repos;let i=index">
                
                <div class="card-body">
                    <a href="{{repo.html_url}}"><h4 class="card-title">{{repo.name}}</h4></a>
                    <hr>
                    <p class="card-text">{{repo.description}}</p>
                </div>
            </div>
            
        </div>

    </div>
    
</div>





