@font-face{
    font-family: 'p';
    src: url(../../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf);
}
.container-fluid{
    display: inline-block;
}

.side{
    width: 10%;
    float: left;
    font-family: 'p';
    padding-top: 20px;
    position: -webkit-fixed;
    position: fixed;
}
.name h5{
    margin-bottom: 30px;
    
}

.repos{
    width: 90%;
    float: right;
    padding-top: 20px;
    font-family: 'p';
}



img{
    width:90%;
    border-radius: 50%;
}
a{
    color: blanchedalmond;
}
hr{
    background-color: gold;
}

.card{
    background-color: rgba(1, 1, 1,0.47);
    border: blanchedalmond 1px ridge;
    width: 25%;
}

.repositories{
    display: flex;
    flex-wrap: wrap;
}
.socials{
    display: grid;
    align-items: center;
}

.socials a{
    margin:10px;
}
button{
    background: transparent;
    color: blanchedalmond;
    border: blanchedalmond 1px solid;
}

.card a{
    text-align: center;
    justify-content: center;
}