<div class="container-fluid">

    <div class="side">
        <div class="name">
            <h4 class="text-center">{{ruth.name}}</h4>
            <img src="{{ruth.avatar_url}}" alt="">   
            
            <div class="socials">
                <a href="https://github.com/Ruth-Mwangi" class="text-center" target="_blank"><i class="fab fa-github    "></i></a>
                <a href="https://twitter.com/rurukui96" class="text-center" target="_blank"><i class="fab fa-twitter    "></i></a>
                <a href="mailto:rwmwangi96@gmail.com" class="text-center" target="_blank"><i class="far fa-envelope    "></i></a>

            </div>
            
        </div>
    </div>

    <div class="repos">

        <h1 class="text text-center">My Repositories</h1>

        <div class="repositories">
            <div class="card  text-white" *ngFor="let repo of repos;let i=index" appHighlight>
                
                <div class="card-body">
                    <a href="{{repo.html_url}}" target="_blank"><h4 class="card-title">{{repo.name}}</h4></a>
                    <hr>
                    <p class="card-text">{{repo.description}}</p><br>
                    <p> ~ Created {{repo.created_at|dateCount}} days ago</p>

                    <a href="{{repo.homepage}}" target="_blank"> <button>Demo</button></a>
                </div>
            </div>
            
        </div>

    </div>
    
</div>





