<div class="container-fluid">

    <div class="side">
        <div class="name">
            <h5>{{ruth.name}}</h5>

            <img src="{{ruth.avatar_url}}" alt="">
            
            
        </div>
    </div>

    <div class="repos">

        <div class="card-columns">
            <div class="card  text-white" *ngFor="let repo of repos;let i=index">
                
                <div class="card-body">
                    <a href="{{repo.html_url}}"><h4 class="card-title">{{repo.name}}</h4></a>
                    <p class="card-text">{{repo.description}}</p>
                </div>
            </div>
            
        </div>
      
       


    </div>
    
</div>





