@font-face{
    font-family: 'q';
    src: url(../../assets/fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf);
}

img{
    width: 100%;
    border-radius: 50%;
}
.container-fluid{
    padding-top: 180px;
    font-family: 'q';
    color: blanchedalmond;
}

a{
    color: blanchedalmond;
}

.row{
    margin: auto;
    width: 60%;
    align-items: center; 
       
}