@font-face{
    font-family: 'q';
    src: url(../../assets/fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf);
}

img{
    width: 100%;
    border-radius: 50%;
}
.container-fluid{
    padding-top: 180px;
    font-family: 'q';
    color: blanchedalmond;
    display: inline-block;
}

a{
    color: blanchedalmond;
}

.row{
    margin: auto;
    width: 60%;
    align-items: center; 
       
}

.main{
    width: 95%;
    float: left;
}
.socials{
    display: grid;
    width: 5%;
    float: right;
}

.socials a{
    margin-top: 50px;
    margin-bottom: 50px;
}

input{
    border-radius: 15px 50px; 
}