<div class="search">
    
    <input type="text" name="search" id="search" #search>
    <div class="buttons">
        <button class="btn btn-primary"> Search User</button>
        <button class="btn btn-success">Search Repositories</button>
    </div>
</div>

<div class="container-fluid">
    <div class="main">
        <div class="row">
            <div class="col-sm-3">
        
                <img src="{{ruth.avatar_url}}" alt="">
                
            </div>
            <div class="col-sm-9">
        
                <h1 class="text text-center display-4">{{ruth.name}}</h1>
                <a routerLink='/projects'><h3 class="text text-center" >Click here to see some of my Projects</h3></a>
                
            </div>
        </div>

    </div>


    <div class="socials">
        <a href="https://github.com/Ruth-Mwangi" class="text-center" target="_blank"><i class="fab fa-github    "></i></a>
        <a href="https://twitter.com/rurukui96" class="text-center" target="_blank"><i class="fab fa-twitter    "></i></a>
        <a href="mailto:rwmwangi96@gmail.com" class="text-center" target="_blank"><i class="far fa-envelope    "></i></a>

    </div>
</div>





