@font-face{
    font-family: 'Handlee';
    src: url(../../assets/fonts/Handlee/Handlee-Regular.ttf);
}

input{
    
    width: 60%;
    background-color: rgba(1, 1, 1,1);
    color: white;
    border: solid 1px white;
    border-radius: 15px 50px 30px 5px;
    
}
h4,a{
    color: white;
}


.search{
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    font-family: 'Handlee';
    
}
.inputs{
    width: 90%;
    
    float: right;
    
}
.home{
    width: 10%;
    float: left;
}




button{
    margin-right:10px;
    margin-left: 10px;
    border-radius: 15px 50px 30px 5px;
}