<div class="search">
    <div class="home ">
        <a [routerLink]="['/home']" ><h3 class="text text-center">Home</h3> </a>
    </div>
    <div class="inputs">
        
        <input type="text" name="search" id="search" placeholder="Search for users or repositories...." #search required>
        <button class="btn btn-primary btn-sm" (click)="searchUser(search)" [routerLink]="['/users']"  > Search User</button>
        <button class="btn btn-success btn-sm" (click)="searchRepo(search)" [routerLink]="['/repositories']" >Search Repositories</button>
    </div>
    
</div>
