/* You can add global styles to this file, and also import other style files */


body{
    /* background-color: #1e1e1e; */
    background: url(./assets/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    /* background-position: bottom; */
    background-size: cover;
    color: whitesmoke;
}

